#body {
    background: #e5e5e5;
    height: fit-content;
}

#header {
    height: 50px;
}

#top {
    height: 1000px;
    background-image: url("images/shapes.png");
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
}

#container-item {
    width: 1156px;
    height: 500px;
    border-radius: 12px;
    border-color: #a24a4a72;
    border-style: solid;
    border-width: 1px;
    padding: 24px;
    gap: 1%;
    margin-top: 80px;
}

h1 {
    width: 60%;
}

#project {
    margin-top: 24px;
}
